@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");


.search-button {
  background-image: linear-gradient(
    to right,
    rgb(134, 97, 209) 0%,
    #8f75c2 51%,
    #693ac0 100%
  );
}
.search-button {
  margin: 0 auto;
  padding: 10px 70px;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-family: "Finger Paint";
  box-shadow: 0 0 20px #a385df;
  border-radius: 10px;
  display: block;
  outline: none;
}

.search-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.search-label {
  color: white;
  font-family: "Finger Paint", cursive;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.1rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.search-input {
  color: #8661d1;
  font-size: 1rem;
  font-family: "Finger Paint", cursive;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 56rem;
  height: 4rem;
  display: block;
  border-bottom: 1rem solid transparent;
  transition: all 0.3s;
  outline:none;
}

@media only screen and (max-width: 900px) {
  .search-input {
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 0.5rem;
    border-radius: 0.6rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    display: block;
    border-bottom: 1rem solid transparent;
    transition: all 0.3s;
  }
}

.search-input:placeholder-shown + .search-label {
  opacity: 0;
  color: white;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
